ARCHS = x86_64 i386
MACOSX_DEPLOYMENT_TARGET[arch=x86_64] = 10.8
MACOSX_DEPLOYMENT_TARGET[arch=i386] = 10.8
SDKROOT[arch=x86_64] = macosx
SDKROOT[arch=i386] = macosx

//GCC_VERSION = 4.2
GCC_FAST_MATH = YES
GCC_SYMBOLS_PRIVATE_EXTERN = YES

GCC_ENABLE_SSE3_EXTENSIONS = YES
GCC_ENABLE_SUPPLEMENTAL_SSE3_INSTRUCTIONS = NO

MACROS					= SXMACOSX SXDARWIN SXPOSIX __ASSERTMACROS__ SXEXPORT= SXCOREFOUNDATION=1 SXCOCOA=1 __stdcall= DLLEXPORT= STDCALL= __PROJECT_BUILDER__=1 SXCONFIGURATION=$(CONFIGURATION) SXCORE= 
DEBUGMACROS				= 
RELEASEMACROS			= NDEBUG
TOOLCHAINPATH			= /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/include
BOOSTPATH				= ../../../../boost_1_55_0
INCLUDEPATH				= ../../../../include
COMMONPATH				= ../../../common

//OTHER_CFLAGS			= -force_cpusubtype_ALL -ftree-vectorize -fvisibility=hidden
OTHER_CFLAGS			= -force_cpusubtype_ALL -fno-stack-protector
OTHER_CPLUSPLUSFLAGS	= $(OTHER_CFLAGS) -ffor-scope -Wno-invalid-offsetof

PER_ARCH_CFLAGS_x86_64	= -mfpmath=sse
PER_ARCH_CFLAGS_i386	= -mfpmath=sse -DSXCARBON=1
PER_ARCH_CFLAGS_ppc		= -maltivec -mpim-altivec -mabi=altivec -DSXCARBON=1

CONFIGURATION_BUILD_DIR = ./build/$(CONFIGURATION)
//USER_HEADER_SEARCH_PATHS = $(BOOSTPATH) $(INCLUDEPATH) $(INCLUDEPATH)/openexr-1.6.1/macos $(INCLUDEPATH)/openexr-1.6.1/**

//DEFAULT DEFINITIONS FOR PLUGINS
ALWAYS_SEARCH_USER_PATHS = NO;
//FRAMEWORK_SEARCH_PATHS = "$(inherited)";
HEADER_SEARCH_PATHS = $(inherited) $(TOOLCHAINPATH) $(BOOSTPATH) $(INCLUDEPATH) $(COMMONPATH) $(INCLUDEPATH)/openexr-1.6.1/macos $(INCLUDEPATH)/openexr-1.6.1/**
GCC_PREFIX_HEADER = xplugins_Prefix.pch;
GCC_PREPROCESSOR_DEFINITIONS = $(MACROS)
GCC_INPUT_FILETYPE = sourcecode.cpp.objcpp
GCC_C_LANGUAGE_STANDARD = gnu99;
WRAPPER_EXTENSION = shdplugin;

//CLANG_CXX_LANGUAGE_STANDARD = GNU++11[-std=gnu++11]
//CLANG_CXX_LANGUAGE_STANDARD = "gnu++0x";
//CLANG_CXX_LIBRARY = libc++ (LLVM C++ standard library with C++11 support)
//CLANG_CXX_LIBRARY = "libc++";
COMBINE_HIDPI_IMAGES = YES;
SKIP_INSTALL = YES;